/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body */
body{
    font-family: 'Poppins', sans-serif;
}

/* Reusable CSS */
.container{
    @apply w-11/12 m-auto;
}
.responsive-grid{
    @apply grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8;
}
.responsive-grid-2col{
    @apply grid xl:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-8;
}

/* Navigation */
.nav-link {
    @apply text-white mx-3 inline-block;
}

/* Button */
.btn{
    @apply px-3 py-2 rounded;
}
.btn-primary{
    @apply bg-primary text-white transition-all duration-300 ring-1 focus:ring hover:bg-secondary;
}
.btn-secondary{
    @apply bg-secondary text-white transition-all duration-300 ring-1 focus:ring hover:bg-primary;
}
.btn-danger{
    @apply bg-danger text-white transition-all duration-300 focus:ring ring-lightGray hover:bg-gray;
}

/* Card */
.card{
    @apply shadow-xl p-5 rounded;
}
.card-head{
    @apply rounded w-full;
}
.card-title{
    @apply text-3xl font-bold py-3;
}
.review-head{
    height: 70px;
    width: 70px;
    @apply rounded-full mx-auto my-6;
}

/* Input */
.formInput{
    @apply bg-lightGray rounded py-2 px-3 w-10/12 focus:outline-none;
}

/* Dashboard */
.dashboard-link{
    @apply transition-all block text-xl text-left text-white mx-4 hover:bg-primary rounded py-2 pl-2 duration-300;
}

